<div id="sidebar" class="sidebar">
  <ul id="menu">
    <br><br><br><br>
    

    <li>
      <div class="dropdown">
        <div class="btn btn - boton1" (click)="isOpen = !isOpen">
          Filtro <i [ngClass]="isOpen ? 'gg-chevron-down' : 'gg-chevron-right'"></i>
        </div>
        <div class="menu123" *ngIf="isOpen" [@dropDownMenu]>
          <div class="menu-item" >
          
          <input type="checkbox" id="cria" [(ngModel)]="filtroAplica.cria" name="cria" value="cria" class="check">&nbsp;
          <label class="tran"  for="cria"> Edad Cria </label>
          <hr>

          <input type="checkbox" id="adulto" [(ngModel)]="filtroAplica.adulto" name="adulto" value="adulto" class="check">&nbsp;
          <label class="tran" for="adulto"> Edad Adulto </label>
          <hr>
          <input type="checkbox" id="grande" [(ngModel)]="filtroAplica.grande" name="grande" value="grande" class="check"> &nbsp;
          <label class="tran" for="grande"> Tamaño Grande </label>
          <hr>
          <input type="checkbox" id="mediano" [(ngModel)]="filtroAplica.mediano" name="mediano" value="mediano" class="check">&nbsp;
          <label class="tran" for="mediano"> Tamaño Mediano </label>
          <hr>
          <input type="checkbox" id="chico" [(ngModel)]="filtroAplica.chico" name="chico" value="chico" class="check">&nbsp;
          <label class="tran" for="chico"> Tamaño Chico </label>
          
          </div>
        </div>
      </div>

    </li>  
    
    
    <br><br>

    <li>
      
      <div class="dropdown">
        <button class="btn btn - boton1" [@clickBTN]="filtroClick ? 'baja' : 'sube'" (click)="clickEnExcluir()">Exluir</button>
        <div id="myDropdown2"  [@clickContent]="excluirClick ? 'show' : 'noShow'" class="dropdown-content">
          <br>&nbsp;
          <input type="checkbox" id="cria2" [(ngModel)]="excluirAplica.cria" name="cria" value="true" class="check">&nbsp;
            <label class="tran" for="cria2"> Edad Cria </label>
            <br><br>&nbsp;
            <input type="checkbox" id="adulto2" [(ngModel)]="excluirAplica.adulto" name="adulto" value="true" class="check">&nbsp;
            <label class="tran" for="adulto2"> Edad Adulto </label>
            <br><br>&nbsp;
            <input type="checkbox" id="grande2" [(ngModel)]="excluirAplica.grande" name="grande" value="true" class="check"> &nbsp;
            <label class="tran" for="grande2"> Tamaño Grande </label>
            <br><br>&nbsp;
            <input type="checkbox" id="mediano2" [(ngModel)]="excluirAplica.mediano" name="mediano" value="true" class="check">&nbsp;
            <label class="tran" for="mediano2"> Tamaño Mediano </label>
            <br><br>&nbsp;
            <input type="checkbox" id="chico2" [(ngModel)]="excluirAplica.chico" name="chico" value="true" class="check">&nbsp;
            <label class="tran" for="chico2"> Tamaño Chico </label>
            <br><br>&nbsp;
        </div>
      </div>
      
    </li>
    
    <br><br>
    <li><button class="btn btn - boton2"  [@clickBTN]="excluirClick ? 'baja' : 'sube'" (click)="clickEnAplicar()">Aplicar</button></li>
  </ul>
</div>

<div id="container">
  <input type="text" class="form-control" id="filtro-search" name="filterPost"
    placeholder="Ingrese el nombre que desea filtrar" [(ngModel)]="filterPost">

  <div class="component">
    <div class="col-md-4" *ngFor=" let animal of animales | filter:filterPost" id="card-animal-principal">
      <div class="card" id="card-animales" (click)="irAAnimal(animal.id)">
        <div class="card-header" id="titulo-animal-principal">Nombre: {{animal.nombre}}</div>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6163cn5YzZo-mEUXuyLnevw_14Yv8rl4mwP7wnGf3BLV4lQ7KJQBm2FSYeSAtiXspcoI&usqp=CAU"
          class="card-img-top" alt="..." id="imagen-animal-principal">
        <div class="card-body" id="body-animal">
          <!--{{usuario.nombre}}-->
          <p class="card-text" id="texto-animal"><b>Dueño ID: {{animal.idDador}}</b></p>
          <p class="card-text" id="texto-animal">Tipo: {{animal.tipo}} </p>
        </div>
      </div>
    </div>
  </div>
</div>