.boton1{
    font-size:15px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:black;
    background:rgb(179, 172, 169);
    border:0px;
    width:100px;
    height:30px;
}

.boton2{
    font-size:15px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:black;
    background:rgb(89, 189, 110);
    border:0px;
    width:100px;
    height:30px;
}

#menu {
    float:center;
    left:50%;
    list-style-type:none;
    margin:0 auto;
    padding:0;
    position:relative;
}

#menu li {
    float:center;
    position:relative;
    right:50%;
    display: flex;
  justify-content: center;
  align-items: center;
}

#sidebar {
    float:left;
    height: 100%;
    background-color: #f0eae8;
    padding: 2rem 0;

    width:15%;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}














/* 
cambie lo q hay en el buscador con lo q hay en principal 
para q en buscador aparezcan varios mientras q en principal 1 solo

*/



#card-animal-principal{
  margin: 15px;
  border: 15px;
  text-align: center;
  width: 300px !important;
  float:left;
}

#card-animales{
  text-align: center;
  width: 324px;
}

#imagen-animal-principal{
  height: 200px;
  width: 322px;
  align-items: center;
}

#titulo-animal-principal{
  text-align: left;
  font: bolder;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: darksalmon;
}

#texto-animal{
  font-size:14px;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:black;
  border:0px;
  height:10px;
  float: left;
  margin-right: 5%;
  text-align: center;
}

#body-animal{
  background-color: gainsboro;
}

.component{
  margin-left: 55px!important;
}







/*



cambie lo q hay en el buscador con lo q hay en principal 
para q en buscador aparezcan varios mientras q en principal 1 solo

*/




#filtro-search{
  width: 25%;
  margin-left: 350px;
  background-color: lightyellow;
  font: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:navy;
  margin-top: 15px;
}