<div id="sidebar" class="sidebar">
  <ul id="menu">
    <br><br><br><br>


    <li>
        <!-- <button class="btn btn - boton1" routerLink=".">Filtro</button> -->

      <div class="dropdown">
        <button class="btn btn - boton1" (click)="clickEnFiltro()">Filtro</button>
        <div id="myDropdown" [ngClass]="{'show' : filtroClick, 'noShow': !filtroClick}" class="dropdown-content">
          <a><input type="checkbox" id="cria" name="cria" value="cria" class="check">&nbsp;
          <label for="cria"> Edad Cria </label></a>

          <a><input type="checkbox" id="adulto" name="adulto" value="adulto" class="check">&nbsp;
          <label for="adulto"> Edad Adulto </label></a>

          <a><input type="checkbox" id="grande" name="grande" value="grande" class="check"> &nbsp;
          <label for="grande"> Tamaño Grande </label></a>

          <a><input type="checkbox" id="mediano" name="mediano" value="mediano" class="check">&nbsp;
          <label for="mediano"> Tamaño Mediano </label></a>

          <a><input type="checkbox" id="chico" name="chico" value="chico" class="check">&nbsp;
          <label for="chico"> Tamaño Chico </label></a>
         
        </div>
      </div>
    </li>

    
    <br><br>

    <li>
      
      <div class="dropdown">
        <button class="btn btn - boton1" [ngClass]="{'baja' : filtroClick, 'sube' : !filtroClick}" (click)="clickEnExcluir()">Exluir</button>
        <div id="myDropdown" [ngClass]="{'show' : excluirClick, 'noShow': !excluirClick}" class="dropdown-content">
          <a><input type="checkbox" id="cria" name="cria" value="cria" class="check">&nbsp;
            <label for="cria"> Edad Cria </label></a>
  
            <a><input type="checkbox" id="adulto" name="adulto" value="adulto" class="check">&nbsp;
            <label for="adulto"> Edad Adulto </label></a>
  
            <a><input type="checkbox" id="grande" name="grande" value="grande" class="check"> &nbsp;
            <label for="grande"> Tamaño Grande </label></a>
  
            <a><input type="checkbox" id="mediano" name="mediano" value="mediano" class="check">&nbsp;
            <label for="mediano"> Tamaño Mediano </label></a>
  
            <a><input type="checkbox" id="chico" name="chico" value="chico" class="check">&nbsp;
            <label for="chico"> Tamaño Chico </label></a>
           
        </div>
      </div>
      
    </li>
    
    <br><br>
    <li><button class="btn btn - boton2"  [ngClass]="{'baja' : excluirClick, 'sube': !excluirClick}" (click)="clickEnAplicar()">Aplicar</button></li>
  </ul>
</div>

<div id="container">
  <input type="text" class="form-control" id="filtro-search" name="filterPost"
    placeholder="Ingrese el nombre que desea filtrar" [(ngModel)]="filterPost">

  <div class="component">
    <div class="col-md-4" *ngFor=" let animal of animales | filter:filterPost" id="card-animal-principal">
      <div class="card" id="card-animales" (click)="irAAnimal(animal.id)">
        <div class="card-header" id="titulo-animal-principal">Nombre: {{animal.nombre}}</div>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6163cn5YzZo-mEUXuyLnevw_14Yv8rl4mwP7wnGf3BLV4lQ7KJQBm2FSYeSAtiXspcoI&usqp=CAU"
          class="card-img-top" alt="..." id="imagen-animal-principal">
        <div class="card-body" id="body-animal">
          <!--{{usuario.nombre}}-->
          <p class="card-text" id="texto-animal"><b>Dueño ID: {{animal.idDador}}</b></p>
          <p class="card-text" id="texto-animal">Tipo: {{animal.tipo}} </p>
        </div>
      </div>
    </div>
  </div>
</div>