<div id="sidebar" class="sidebar">
  <ul id="menu">
    <br><br><br><br>
    <li><button class="btn btn - boton1" routerLink=".">> Filtros</button></li>
    <br><br>
    <li><button class="btn btn - boton1" routerLink=".">> Excluir</button></li>
    <br><br>
    <li><button class="btn btn - boton2">Aplicar</button></li>
  </ul>
</div>

<input type="text" class="form-control" id="filtro-search" name="filterPost" placeholder="Ingrese el nombre que desea filtrar"
  [(ngModel)]="filterPost">
<div id="container">
  <div class="component">
    <div class="col-md-4" *ngFor=" let animal of animales | filter:filterPost" id="card-animal-principal">
      <div class="card" id="card-animales" (click)="irAAnimal(animal.id)">
        <div class="card-header" id="titulo-animal-principal">Nombre: {{animal.nombre}}</div>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6163cn5YzZo-mEUXuyLnevw_14Yv8rl4mwP7wnGf3BLV4lQ7KJQBm2FSYeSAtiXspcoI&usqp=CAU"
          class="card-img-top" alt="..." id="imagen-animal-principal">
        <div class="card-body" id="body-animal">
          <!--{{usuario.nombre}}-->
          <p class="card-text" id="texto-animal"><b>Dueño ID: {{animal.idDador}}</b></p>
          <p class="card-text" id="texto-animal">Tipo: {{animal.tipo}} </p>
        </div>
      </div>
      </div>
    </div>
</div>
