.boton1{
    font-size:18px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:black;
    background:rgb(179, 172, 169);
    border:0px;
    width:130px;
    height:40px;
}

.boton2{
    font-size:18px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:black;
    background:rgb(89, 189, 110);
    border:1px;
    width:150px;
    height:50px;
}
.boton2:hover{
  background-color:chartreuse;
}

#menu {
    float:center;
    left:50%;
    list-style-type:none;
    margin:0 auto;
    padding:0;
    position:relative;
}

#menu li {
    float:center;
    position:relative;
    right:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar {
    float:left;
    height: 100%;
    background-color: #f0eae8;
    padding: 1rem 0;
    width:15%;
}

.sidebar ul, .sidebar li{
    list-style:none inside;

}

.sidebar ul {
    margin: 2rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

/*
cambie lo q hay en el buscador con lo q hay en principal
para q en buscador aparezcan varios mientras q en principal 1 solo
*/


#card-animal-principal{
  margin: 15px;
  border: 15px;
  text-align: center;
  width: 300px !important;
  float:left;
}

#card-animales{
  text-align: center;
  width: 324px;
}

#imagen-animal-principal{
  height: 200px;
  width: 322px;
  align-items: center;
}

#titulo-animal-principal{
  text-align: left;
  font: bolder;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: darksalmon;
}

#texto-animal{
  font-size:14px;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:black;
  border:0px;
  height:10px;
  float: left;
  margin-right: 5%;
  text-align: center;
}

#body-animal{
  background-color: gainsboro;
}


/*
cambie lo q hay en el buscador con lo q hay en principal
para q en buscador aparezcan varios mientras q en principal 1 solo

*/


#filtro-search{
  width: 30%;
  margin-left: 30px;
  background-color: lightyellow;
  font: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:navy;
  margin-top: 15px;
}

#btncheck1{
  width: 35px;
  height: 35px;
}
#btncheck2{
  width: 35px;
  height: 35px;
}
#btncheck3{
  width: 35px;
  height: 35px;
}
#btncheck4{
  width: 35px;
  height: 35px;
}


#label-checkbox{
margin-left: 5px;
margin-top: 10px;
font-weight:bold;
color: black!important;
font-size: 16px;
font-family: Georgia, 'Times New Roman', Times, serif;
}



/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;



}

.dd-button:hover {
  background-color: #eeeeee;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: fixed;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1px;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ff9797;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

/* 

Por si queremos poner un divider

en el html
 <li class="divider"></li>
    <li>
      <a href="http://rane.io">Link to Rane.io</a>

    </li>

    en css lo de abajo


*/

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}


/* FIN Dropdown */