
#menu {
    float:center;
    left:50%;
    list-style-type:none;
    margin:0 auto;
    padding:0;
    position:relative;
}

#menu li {
    float:center;
    position:relative;
    right:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar {
    float:left;
    height: 100%;
    background-color: #f0eae8;
    padding: 1rem 0;
    width:15%;
}

.sidebar ul, .sidebar li{
    list-style:none inside;

}

.sidebar ul {
    margin: 2rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

/*
cambie lo q hay en el buscador con lo q hay en principal
para q en buscador aparezcan varios mientras q en principal 1 solo
*/


#card-animal-principal{
  margin: 15px;
  border: 15px;
  text-align: center;
  width: 300px !important;
  float:left;
}

#card-animales{
  text-align: center;
  width: 324px;
}

#imagen-animal-principal{
  height: 200px;
  width: 322px;
  align-items: center;
}

#titulo-animal-principal{
  text-align: left;
  font: bolder;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: darksalmon;
}

#texto-animal{
  font-size:14px;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:black;
  border:0px;
  height:10px;
  float: left;
  margin-right: 5%;
  text-align: center;
}

#body-animal{
  background-color: gainsboro;
}


/*
cambie lo q hay en el buscador con lo q hay en principal
para q en buscador aparezcan varios mientras q en principal 1 solo

*/


#filtro-search{
  width: 30%;
  margin-left: 30px;
  background-color: lightyellow;
  font: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:navy;
  margin-top: 15px;
}




#container{
  width: 80%;
  float: right;
  margin-right: 20px;
}




/* Dropdown button (Filtro y excluir)*/

.boton1{
  font-size:18px;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:black;
  background:rgb(204, 171, 155);
  border:0px;
  width:180px;
  height:40px;
}

/* Boton aplicar */

.boton2{
  font-size:18px;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:black;
  background:rgb(89, 189, 110);
  border:1px;
  width:180px;
  height:50px;
}
.boton2:hover{
background-color:rgb(84, 141, 27);
}



/* Dropdown button on hover & focus */
.boton1:hover, .boton1:focus {
  background-color: rgb(170, 123, 101);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}


.check{


  /* 

    Nose como cambiar el diseño del checkbox,
    hay q investigar en algun momento,
    vi q joan habia hecho uno pero lo borre  

  */

}


/* 




*/

.menu-item label {
  
  color: black;
  cursor: pointer;
}
.menu-item label:hover {
  color: rgb(211, 146, 93);
  cursor: pointer;
  
}

.menu123 {
  border-bottom: 1px solid #e4c9b3;
  background: rgb(255, 225, 213);
}

.menu-item {
  padding: 15px;
  border-bottom: 1px solid #868080;
  max-width: 300px;
  margin: auto;
  width: 100%;
  cursor: pointer;
}
.menu-item:last-child {
  border-bottom: none;
}

.menu-item:hover {
  color: #e2ab34;
}

.gg-chevron-right {
  box-sizing: border-box;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.gg-chevron-right::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  right: -20px;
  top: 8px
}

.gg-chevron-down {
  box-sizing: border-box;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.gg-chevron-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 15px;
  top: 6px;
}














