<body>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3>Restablece tu contraseña</h3>
                    </div>
                    <div class="card-body">
                        <p>Ingresa tu correo electrónico, te enviaremos un link para restablecer tu contraseña.</p>
                        <form (submit)="recoverPassword()">
                            <div class="form-group">
                                <input type="email" name="email" [(ngModel)]="userEmail" placeholder="Ingrese su E-mail"
                                class="form-control" minlength="10" (focus)="limpiarEmail()" required>
                                <div [ngSwitch]="errorEmail" class="errorField">
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">Email muy largo</div>
                                <div *ngSwitchCase="3">Email debe ser nombre@dominio.algo .</div>
                                </div>
                            </div>
                            <div class="form-group">
                                  <button class="btn btn-success btn-block" value="persona" (click)="verificarEmail(userEmail)">
                                    Enviar</button>
                              </div>
                              <div *ngIf="enviado" class="card-body" style="color: rgb(0, 68, 255)">
                                {{mensaje}} <br>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

