/*
cambie lo q hay en el buscador con lo q hay en principal
para q en buscador aparezcan varios mientras q en principal 1 solo
*/

#card-animal-principal{
  margin-left: 120px;
  border: 15px;
  text-align: center;
  width: 800px !important;

}

#container {
  border: 2px;
  overflow: hidden;
  margin-left: 15px;
  padding: 15px;
}


/*
  cambie lo q hay en el buscador con lo q hay en principal
  para q en buscador aparezcan varios mientras q en principal 1 solo
*/


.container-animales{
  margin-top: 75px ;
}


.image-animal img{
  width: 720px;
  height: 452px;
  vertical-align: top;
  align-items: center;
  object-fit: cover;
  position: absolute;
}

.image-animal{
  position: relative;
  height: 40em;
  width: 45.0em;
  z-index: 50;
  display: grid;
}



.data-content{
  display: none;
  position: absolute;
  color:rgb(236, 220, 220);
  z-index: 100;
}

.animal-name{
  cursor: pointer;
  text-align: center;
  /*
  display: none;

*/
  opacity: 0.9;
  position: relative;
  z-index: 100;
  min-width: 35%;
  max-width: 100%;
  display: inline-block;
  font: bolder;
  color:lightgoldenrodyellow;
  font-size:1.5em;
  font-family:Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  background:darkslategray;
  transform: translatey(-1.45em);
}



.animal-data{
  margin-left: 0.5em;
  text-align: top;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:bold;
  height:0.8em;
  float: left;
  margin-right: 5%;
  text-align: center;
  font-size:2.2em;
  color: lightgoldenrodyellow;

}

.animal-body{
  height: 3em;
  width: 45em;
  opacity: 0.8;
  background: darkslategray;
  transform: translatey(28.2em);
}



/* GRID FOOTER */
.copyright-footer{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1em;
}


  /* GRID HEADER */

  .animal-buscador{
    margin-left: 15% !important;
    margin-top: none;
    height: 1.7em;
    width: 18em;
    min-width: 18em;
    font-size: 0.8em;

  }

  /* GRID HEADER */

.animal-buscador{
  margin-left: 2.0em;
  margin-top: 1em;
  height: 1.7em;
  width: 23%;
  min-width: 16em;
  outline: none;
  border:none;
  background-color:lightgoldenrodyellow;
  font-size: 1.5em;
  color: darkslategray;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* transition: 1s; */

  text-decoration: none;
  background-image: linear-gradient(black, black);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: 1s;

}

.animal-buscador:focus{
  width: 40%;
  background-size: 100% 1px;
}

.container-animales{
  margin-left: 15%;
}
