#card-animal-principal{
  margin-left: 120px;
  border: 15px;
  text-align: center;
  width: 800px !important;

}

#container {
  border: 2px;
  overflow: hidden;
  margin-left: 15px;
  padding: 15px;
}


.container-animales{
  margin-top: 75px ;
}


.image-animal{
  margin: 15px;
  padding: 15px;
}

.datos{
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
  position: relative;
  z-index: 100;
  min-width: 35%;
  max-width: 100%;
  color:lightgoldenrodyellow;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background: darkcyan;
  font-size: 28px;
}


.animal-name{
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
  position: relative;
  z-index: 100;
  width: 50%;
  height: 80px;
  display: inline-block;
  font: bolder;
  font-size: 52px;
  color:lightgoldenrodyellow;
  font-family:Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  background:darkslategray;
}

.image-animal:hover{
  transform: scale(1.1) translatey(0.2em);
}


/* GRID FOOTER */
.copyright-footer{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1em;
}

  .animal-buscador{
    margin-bottom: 30px;
    font-size: 0.8em;
  }


.animal-buscador{
  margin-left: 2.0em;
  margin-top: 1em;
  height: 1.7em;
  width: 23%;
  min-width: 16em;
  outline: none;
  border:none;
  background-color: rgb(255, 235, 199);
  font-size: 1.1em;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* transition: 1s; */
  text-decoration: none;
  background-image: linear-gradient(black, black);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: 1s;

}

.animal-buscador:focus{
  width: 40%;
  background-size: 100% 1px;
}

.container-animales{
  margin-left: 15%;
}




