<body>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div *ngIf="!enviado; else elseBlock" class="card-body">
                        <div class="card-header">
                            <h3>Restablece tu contraseña</h3>
                        </div>
                        <div class="card-body">
                            <form (submit)="newPassword()">
                                <div class="form-group">
                                    <input type="password" name="password" [(ngModel)]="password"
                                        placeholder="Ingrese su nueva contraseña" class="form-control" (focus)="limpiarPassword()" required
                                        minlength="6">
                                    <div [ngSwitch]="errrorPassword" class="errorField">
                                        <div *ngSwitchCase="1">Debes completar el campo</div>
                                        <div *ngSwitchCase="2">Contraseña muy larga</div>
                                        <div *ngSwitchCase="3">Contraseña muy corta</div>
                                        <div *ngSwitchCase="4">Contraseña debe ser alfanumerica y admite mayusculas.</div>
                                    </div>
                                    </div>
                    
                                    <div class="form-group">
                                    <input type="password" name="repassword" [(ngModel)]="repassword"
                                        placeholder="Repetir Contraseña" class="form-control" minlength="6" (focus)="limpiarRePassword()"
                                        required>
                                    <div [ngSwitch]="errorRePassrword" class="errorField">
                                        <div *ngSwitchCase="1">Las contraseñas deben ser iguales</div>
                                    </div>
                                    </div>
                    
                                
                                <div class="form-group">
                                    <button class="btn btn-success btn-block" value="persona" (click)="verificarPasswords()">
                                        Enviar</button>
                                </div>
                                <div *ngIf="enviado" class="card-body" style="color: rgb(0, 68, 255)">
                                    {{mensaje}} <br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <ng-template #elseBlock>
                    <div class="card-header">
                        <h3>¡Contraseña restablecida!</h3>
                    </div>
                    <div class="card-body">
                        Hemos restablecido tu contraseña! Haz click <a href="/usuarios/ingresar">aqui</a> para ingresar 
                    </div>
                    
                </ng-template>
            </div>
        </div>
    </div>
</body>