<div class="contenedor-usuario-perfil">
    <div class="imagenC">
        <app-upload-list [sujetoID]='UsuarioID.id' [Pertenece]='ubi'></app-upload-list>
        <ng-container *ngIf="miUsuario == UsuarioID.id">
            <!-- Button trigger modal -->
            <label type="button" class="subir" data-bs-toggle="modal" data-bs-target="#exampleModalFoto">
    		<i class="fas fa-camera" id="subir-foto" (click)="chekearPer()"></i>
            </label>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalFoto" tabindex="-1" aria-labelledby="exampleModalLabelFoto" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabelFoto">Actualizar foto de perfil</h3>
                            <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close" style="font-size: 40px;">
                                <i class="fas fa-times-circle"></i></button>
                        </div>
                        <div class="modal-body">
                            <input id="file-upload" class="subir-foto-usuario" type="file" (change)="selectFile($event)"  />
                            <app-upload-list [sujetoID]='UsuarioID.id' [Pertenece]='ubi4'></app-upload-list>
                        </div>
                        <div class="footer-actualizar-foto">
                            <button type="button" class="btn btn-outline-danger cerrar-modal" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-outline-success confirmar-modal" (click)="actualizarFoto()">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <h1 id="nombre-usuario-perfil">{{Usuario.nombre}} </h1>
</div>


<div class="container" style="margin-top: 50px;">
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button id="Informacion-tab" [ngClass]="{'activo' : toggleInformacion, 'noActivo': !toggleInformacion}" class="nav-link active col-lg-12" data-bs-toggle="tab" data-bs-target="#Informacion" type="button" role="tab" aria-controls="Informacion" aria-selected="true"
            (click)="Informacion()">Informacion
      		</button>
        </li>
        <li class="nav-item" role="presentation">
            <button id="Siguiendo-tab" [ngClass]="{'activo' : toggleSiguiendo, 'noActivo': !toggleSiguiendo}" data-bs-toggle="collapse" data-bs-target="#collapse3Example" aria-expanded="false" aria-controls="collapseExample" class="nav-link col-lg-12" type="button"
            (click)="Siguiendo()">Siguiendo
      		</button>
            <li class="nav-item" role="presentation">
            <button id="Animales-tab" [ngClass]="{'activo' : toggleAnimales, 'noActivo': !toggleAnimales}" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="nav-link col-lg-12" type="button" (click)="Animales()">Animales
      		</button>
            </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div [ngClass]="{'content' : toggleInformacion, 'contentNo': !toggleInformacion}">
            <div class="card text-dark mb-3" style="max-width: 100%; background-color:rgb(248, 220, 195) ;">
                <div class="card-body">
                    <h2 class="card-title">Datos personales</h2>
                    <p class="p-datos">Nombre: <span> {{Usuario.nombre}}</span> </p>
                    <p class="p-datos">Apellido: <span>{{Usuario.apellido}} </span> </p>
                    <p class="p-datos">Email: <span> {{Usuario.email}}</span></p>
                    <p class="p-datos">Celular: <span> {{Usuario.nro_celular}}</span></p>

                    <!-- Hacer q traiga datos del servidor segun quien sea el id, no q traiga datos y segun id muestra uno u otros. Traer datos especificando cuales. -->


                    <ng-container *ngIf="miUsuario == UsuarioID.id">
                        <button type="button" class="btn btn-light" style="float: right;" data-bs-toggle="modal" data-bs-target="#modal-editar-datos-personales"> <b>Editar </b> <i class="fas fa-pencil-alt"></i></button>
                    </ng-container>

                    <!-- Empieza Modal de Modificar -->
                    <div class="modal fade" id="modal-editar-datos-personales" tabindex="-1" aria-labelledby="modal-editar-datos-personales-label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 id="modal-editar-datos-personales-label">Modifica tus datos personales</h3>
                                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close" style="font-size: 40px;">
                    <i class="fas fa-times-circle"></i></button>
                                </div>
                            	<div class="modal-body">
                                    <div class="mb-3">
                                        <div class="card-body">
                                            <form>
                                                <div class="mb-3">
                                                    <label for="" style="float: left;">  Nombre</label>
                                                    <input type="text" minlength="4" name="nombre" [(ngModel)]="datosNuevos.nombre" placeholder="Ingrese su Usuario" class="form-control" (focus)="limpiarNombre()" autofocus required value="{{Usuario.nombre}}">
                                                    <div [ngSwitch]="errorNombre" class="errorField">
                                                        <div *ngSwitchCase="1">Debes completar el campo</div>
                                                        <div *ngSwitchCase="2">Nombre muy largo</div>
                                                        <div *ngSwitchCase="3">Nombre debe ser alfabetico</div>
                                                        <div *ngSwitchCase="4">Error {{mensajeEnviado}}</div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for=""> Apellido </label>
                                                    <input type="text" minlength="4" name="apellido" [(ngModel)]="datosNuevos.apellido" placeholder="Ingrese su  Apellido" class="form-control" (focus)="limpiarApellido()" required value="{{Usuario.apellido}}">
                                                    <div [ngSwitch]="errorApellido" class="errorField">
                                                        <div *ngSwitchCase="1">Debes completar el campo</div>
                                                        <div *ngSwitchCase="2">Apellido muy largo</div>
                                                        <div *ngSwitchCase="3">Apellido debe ser alfabetico</div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for=""> Celular </label>
                                                    <input type="tel" name="nro_celular" [(ngModel)]="datosNuevos.nro_celular" placeholder="Ingrese su nro de celular" class="form-control" minlength="8" (focus)="limpiarCelular()" required value="{{Usuario.nro_celular}}">
                                                    <div [ngSwitch]="errorCelular" class="errorField">
                                                        <div *ngSwitchCase="1">Debes completar el campo</div>
                                                        <div *ngSwitchCase="2">Celular muy largo</div>
                                                        <div *ngSwitchCase="3">Celular debe ser numerico</div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="mb-3">
                                                    <button type="reset" class="btn btn-danger" style="float: left;"> <b> Limpiar campos</b>
                          </button>
                                                    <button class="btn btn-success" aria-label="Close" style="float: right; " data-bs-dismiss="modal" (click)="editarPerfil(datosNuevos)"> <b>Confirmar </b> <i class="fas fa-check-double"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Termina Modal de Modificar -->
                </div>
            </div>
        </div>
        <div [ngClass]="{'content' : toggleSiguiendo, 'contentNo': !toggleSiguiendo}">
            <div class="card" style="width: 100%; background-color:rgb(248, 220, 195) ;">
                <div class="card-body">
                    <h2 class="card-title">Animales a los que sigo</h2>
                    <div class="animales-con-interes">
                        <div class="ani-item animales-pendientes" *ngIf="animalesInteresPendienteMe.length>0">
                            <p>Pendientes por aceptar</p>
                            <div class="ani-item-adentro animales-pendientes-adentro" *ngFor="let AniPend of animalesInteresPendienteMe">
                                <div class="ani-int-pointer">
                                    <div class="siguiendo-templateA" (click)="irAAnimal(AniPend.id)">
                                        <app-upload-list [sujetoID]='AniPend.id' [Pertenece]='ubi2'></app-upload-list>
                                    </div>
                                    <div class="siguiendo-nombreA">
                                        <span>
											{{AniPend.nombre}}
										</span>
                                    </div>
                                </div>
                                <div *ngIf="this.miUsuario==this.UsuarioID.id" class="siguiendo-botones">
                                    <div class="estado-item rechazar-pendiente" (click)="rechazarPendiente(AniPend)">Rechazar</div>
                                    <div class="estado-item confirmar-pendiente" (click)="confirmarPendiente(AniPend)">Confirmar</div>
                                </div>
                            </div>
                        </div>
                        <div class="ani-item animales-adoptados" *ngIf="animalesInteresAdoptadoMe.length>0">
                            <p>Adoptados</p>
                            <div class="ani-item-adentro animales-adoptados-adentro" *ngFor="let AniAdopt of animalesInteresAdoptadoMe">
                                <div class="ani-int-pointer">
                                    <div class="siguiendo-templateA" (click)="irAAnimal(AniAdopt.id)">
                                        <app-upload-list [sujetoID]='AniAdopt.id' [Pertenece]='ubi2'></app-upload-list>
                                    </div>
                                    <div class="siguiendo-nombreA">
                                        <div *ngFor="let fecha of fechaAdoptado">
                                            <div *ngIf="fecha.id_animal === AniAdopt.id">
                                                <span>
													{{AniAdopt.nombre}} fue adoptado por {{Usuario.nombre}} en el dia: {{fecha.fecha_fin | date:
													'dd/MM/yyyy'}}
												</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ani-item animales-disponibles" *ngIf="animalesInteresDisponible.length>0">
                            <p>Disponible</p>
                            <div class="ani-item-adentro animales-disponibles-adentro" *ngFor="let AniDisp of animalesInteresDisponible">
                                <div class="ani-int-pointer">
                                    <div class="siguiendo-templateA" (click)="irAAnimal(AniDisp.id)">
                                        <app-upload-list [sujetoID]='AniDisp.id' [Pertenece]='ubi2'></app-upload-list>
                                    </div>
                                    <div class="siguiendo-nombreA">
                                        <span>
											{{AniDisp.nombre}}
										</span>
                                    </div>
                                </div>
                                <div *ngIf="this.miUsuario==this.UsuarioID.id" class="siguiendo-botones">
                                    <div class="estado-item eliminar-pendiente" (click)="quitarInteresDisponible(AniDisp.id)">Eliminar</div>
                                </div>
                            </div>
                        </div>
                        <div class="ani-item animales-no-disponibles" *ngIf="animalesInteresPendienteAdoptadoOtro.length>0">
                            <p>Ya adoptado o en pendiente para otro</p>
                            <div class="ani-item-adentro animales-no-disponibles-adentro" *ngFor="let AniPAO of animalesInteresPendienteAdoptadoOtro">
                                <div class="ani-int-pointer">
                                    <div class="siguiendo-templateA" (click)="irAAnimal(AniPAO.id)">
                                        <app-upload-list [sujetoID]='AniPAO.id' [Pertenece]='ubi2'></app-upload-list>
                                    </div>
                                    <div class="siguiendo-nombreA">
                                        <span> {{AniPAO.nombre}} </span>
                                    </div>
                                </div>
                                <div *ngIf="this.miUsuario==this.UsuarioID.id" class="siguiendo-botones">
                                    <div class="estado-item eliminar-pendiente" (click)="quitarInteresAdoptadoOtro(AniPAO.id)">Eliminar</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div [ngClass]="{'content' : toggleAnimales, 'contentNo': !toggleAnimales}">
            <div class="card mb-3" style="max-width: 100%; background-color:rgb(248, 220, 195) ;" id="cont">
                <a data-bs-toggle="modal" data-bs-target="#exampleModal2" id="regAnimal" *ngIf="this.miUsuario==this.UsuarioID.id" >Registrar nuevo animal</a>
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                    <!-- Empieza Modal de registrar -->
                    <div class="modal-dialog modal-dialog-scrollable" *ngIf="this.miUsuario==this.UsuarioID.id" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 id="exampleModalLabel2">Registra un animal</h3>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" style="font-size: 35px;">
                 				<i class="fas fa-times-circle"></i></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <div class="card-body">
                                        <form>
                                            <div class="mb-3">
                                                <label for="">  Nombre </label>
                                                <input type="text" name="nombre" [(ngModel)]="animal.nombre" placeholder="Ingrese el nombre" class="form-control" autofocus required>
                                            </div>
                                            <div class="mb-3">
                                                <div class="content-select">
                                                    <label for=""> Tipo </label>
                                                    <select name="tipo" [(ngModel)]="animal.tipo" class="form-control">
														<option value="perro">Perro</option>
														<option value="gato">Gato</option>
													</select>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <div class="content-select">
                                                    <label for="">  Sexo </label>
                                                    <select name="sexo" [(ngModel)]="animal.sexo" class="form-control ">
														<option value="macho">Macho</option>
														<option value="hembra">Hembra</option>
													</select>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for=""> Fecha de nacimiento </label>
                                                <input type="date" name="fNac" [(ngModel)]="animal.fNac" class="form-control" required max="2021-07-01">
                                            </div>
                                            <div class="mb-3">
                                                <div class="content-select">
                                                    <label for=""> Tamaño </label>
                                                    <select name="tamano" [(ngModel)]="animal.tamano" class="form-control">
														<option value="chico">Chico</option>
														<option value="mediano">Mediano</option>
														<option value="grande">Grande</option>
													</select>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="">  Peso (kg) </label>
                                                <input type="number" name="peso" [(ngModel)]="animal.peso" placeholder="Ingrese el peso" class="form-control" min="1" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="">  Foto </label>
                                                <input type="file" class="subir-foto-animal" (change)="selectFile($event)" />
                                            </div>
                                            <br>
                                            <div class="mb-3">
                                                <button type="reset" class="btn-danger btn-lg" style="float: left;"> 
												<b> Limpiar	campos</b> 
												</button>
												<button class="btn-success btn-lg" style="float: right;" data-bs-dismiss="modal" [disabled]="!selectedFiles" (click)="registrar()">
												<b>Confirmar </b> <i class="fas fa-check-double"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Termina Modal de registrar -->

                <div class="container">
                    <div *ngIf="animalesEnAdopcion.length > 0">
                        <div class="card-header">
                            <i class="fas fa-people-carry"> A la espera de encontrar un hogar</i>
                        </div>
                        <div class="card" *ngFor=" let animalEnAdop of animalesEnAdopcion" id="card-animales-seguidores">
                            <div class="card-body">
                                <p class="nombre-animal" (click)="irAAnimal(animalEnAdop.id)">{{animalEnAdop.nombre}}</p>
                                <app-upload-list [sujetoID]='animalEnAdop.id' [Pertenece]='ubi3' (click)="irAAnimal(animalEnAdop.id)"></app-upload-list>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div *ngIf="animalesAdoptados.length > 0">
                        <div class="card-header">
                            <i class="fas fa-home"> Los que ya tienen un hogar</i>
                        </div>
                        <div class="card" *ngFor=" let animalAdop of animalesAdoptados" id="card-animales-seguidores">
                            <div class="card-body" (click)="irAAnimal(animalAdop.id)">
                                <p class="nombre-animal">{{animalAdop.nombre}}</p>
                                <app-upload-list [sujetoID]='animalAdop.id' [Pertenece]='ubi3'></app-upload-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>