<div class="perfil">
  <img src="{{ fileUpload.url }}" alt=""  *ngIf="Pertenece=='PerfilU'">

</div>

<div class="miniNav">
  <img src="{{ fileUpload.url }}" alt=""  *ngIf="Pertenece=='PerfilNav'">

</div>

<div class="miniNav2">
  <img src="{{ fileUpload.url }}" alt=""  *ngIf="Pertenece=='PerfilNav2'">

</div>

<div class="perfil">
  <img src="{{ fileUpload.url }}" alt=""  *ngIf="Pertenece=='Perfil'">

</div>
<div class="buscadorA">

  <img src="{{ fileUpload.url }}" alt="" *ngIf="Pertenece=='BuscadorA'">
</div>