<div class="perfil" *ngIf="Pertenece=='PerfilU'">
    <img src="{{ fileUpload.url }}" alt="">

</div>

<div class="miniNav" *ngIf="Pertenece=='PerfilNavUsuarioPerfil1'">
    <img src="{{ fileUpload.url }}" alt="">

</div>


<div class="miniNav2" *ngIf="Pertenece=='PerfilNavUsuarioPerfil2'">
    <img src="{{ fileUpload.url }}" alt="">

</div>


<div class="miniNav2" *ngIf="Pertenece=='PerfilNavAnimalUsuario'">
    <img src="{{ fileUpload.url }}" alt="">

</div>

<div class="perfil" *ngIf="Pertenece=='Perfil'">
    <img src="{{ fileUpload.url }}" alt="">

</div>
<div class="buscadorA" *ngIf="Pertenece=='BuscadorA'">

    <img src="{{ fileUpload.url }}" alt="">
</div>


<div class="navNotiI" *ngIf="Pertenece=='NavNotiI'">
    <img src="{{ fileUpload.url }}" alt="">

</div>
<div class="navNotiA" *ngIf="Pertenece=='NavNotiA'">

    <img src="{{ fileUpload.url }}" alt="">
</div>

<div class="buscadorHome" *ngIf="Pertenece=='BuscadorHome'">
    <img src="{{ fileUpload.url }}" alt="">
</div>

<div class="buscadorAdoptados" *ngIf="Pertenece=='buscadorAdoptados'">
    <img src="{{ fileUpload.url }}" alt="">
</div>

<div class="siguiendoA" *ngIf="Pertenece=='SiguiendoA'">
    <img src="{{ fileUpload.url }}" alt="">
</div>

<div class="misAnimales" *ngIf="Pertenece=='misAnimales'">
    <img src="{{ fileUpload.url }}" alt="">
</div>

<div class="interesadosA" *ngIf="Pertenece=='interesadosA'">
    <img src="{{ fileUpload.url }}" alt="">
</div>

<div class="perfil" *ngIf="Pertenece=='PerfilUAct'">
    <img src="{{ fileUpload.url }}" alt="">
    <!-- <button (click)="deleteFileUpload(fileUpload)" class="btn btn-danger btn-sm" style="float: right"> Delete
    </button> -->
</div>