.perfil img{
  height: 8em;
  width: 8em;
    
  border-radius: 50%;
  object-fit: cover;
}

.buscadorA img{
  min-height: 8.3em;
  min-width: 13.5em;
  max-height: 8.3em;
  max-width: 13.5em;
  vertical-align: top;
  align-items: center;
  object-fit: cover;
  position: relative;
}



