.image {
    background-image: url(https://t1.ea.ltmcdn.com/es/images/8/1/2/adoptar_mascotas_por_internet_1218_600.jpg);
    background-repeat: repeat;
}

.errorField {
    color: red;
    font-size: 0.8rem;
    font-family: Verdana;
}

.copyright-footer {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1em;
}

.subir-foto-usuario {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #0155a3;
    margin-left: 5px;
}

label {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 42x;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}