
h1{
  text-align: center;
  margin-bottom: 15px !important;
  padding: 15px;
  border-bottom: darkcyan 3px solid ;
  font-size: 58px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#contenedorAnimales{
  float: left ;
  margin: 25px;
  outline: black 2px solid;
  cursor: pointer;
  background-color: lightgoldenrodyellow;
}

.animal-name{
  font: bold;
  font-size: 32px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  background-color: sandybrown;
}

#contenedorAnimales:hover{

  transform: scale(1.2) translatey(0.7em);

}


.animal-buscador{
  margin-left: none;
  margin-top: none;
  height: 1.7em;
  width: 18em;
  min-width: 18em;
  font-size: 0.8em;
}


.animal-buscador{
  margin-left: 2.0em;
  margin-top: 1em;
  height: 1.7em;
  width: 23%;
  min-width: 16em;
  outline: none;
  border:none;
  background-color: rgb(255, 235, 199);
  font-size: 1.1em;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* transition: 1s; */
  text-decoration: none;
  background-image: linear-gradient(black, black);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: 1s;
}


.animal-buscador:focus{
width: 40%;
background-size: 100% 1px;
}



