
h1{
  text-align: center;
  margin-bottom: 15px !important;
  padding: 15px;
  background-color: lightgoldenrodyellow;
  font-size: 48px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#contenedorAnimales{
  float: left ;
  margin: 25px;
  outline: black 2px dashed;
  cursor: pointer;
  background-color: lightgoldenrodyellow;
}

.animal-name{
  font: bold;
  font-size: 32px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  background-color: sandybrown;
}

#contenedorAnimales:hover{

  transform: scale(1.2) translatey(0.7em);

}


