#imagen-animal-perfil{
  height: 100px;
  width: 100px;
}


#contenedor-animal-perfil{
  margin-top: 50px;
  text-align: center;
}

#nombre-animal-perfil{
  font: bolder;
  font-size: 26px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



#myTab{
  
 border-bottom: 2px solid black;


}



#data{
  list-style:none;
}

#Dador-tab{
  font-size:12px;
  font-weight:bold;
  color:black;
  background:rgb(54, 153, 67);
  border:0px;
  width:20%;
  float: left;

}

/*class="nav-link active col-lg-4 float-left" */



.btnInteresados{
  font-size:14px;
  font-weight:bold;
  color:white;
  background:rgb(107, 81, 20);
  border:0px;
  float: left;
width:140px;
}

.interesMostrado{
  font-size:14px;
  font-weight:bold;
  color:white;
  background:rgb(58, 98, 190);
  border:0px;

}

.interesMostrar{
  font-size:14px;
  font-weight:bold;
  color:white;
  background:rgb(165, 119, 13);
  border:0px;
}



.botonDador{

}

.botonInteres{

}


.botonEstado{
  background-color: #74cf77; /* Green */
  border: none;
  color: rgb(42, 71, 28);
  padding: 0.3px 44px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}



.botonDatosMedicos {
  background-color: #67b4d8; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  float: right;
}













/* Cesar Jueves */

#animal-coment{

  border-top: 2px solid black;
}

#comentario{
width: 40%;

}

#ulc{
  list-style:none;
  
}

#like {


  cursor: pointer;
 
}

#dislike {
  

  cursor: pointer;
 
}


#like:hover {

  color: #5558dd; 

  cursor: pointer;
 
}

#dislike:hover {
  
  color: #e96857; 

  cursor: pointer;
 
}


.likeActivo{
  color: #5558dd; 
  
}

.likeNoActivo{
  color: #131318; 
}



.dislikeActivo{
  color: #e96857;  
}

.dislikeNoActivo{
  color: #131318; 
}











/*
Diseño de dropdown

*/





.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height:260px;
  overflow-y: scroll; 
}



.dropdown-content label {
  
  color: black;
  text-decoration: none;
  display: inline-block;
}


.dropdown-content label:hover {
  color: rgb(122, 119, 95)
  
}


.show {
  
  

  display:block; 
  
}

.noShow {
  
  
  display:none;

}

.gg-chevron-down {
  box-sizing: border-box;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.gg-chevron-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 10px;
  top: 4px;
}







/*
FIN Diseño de dropdown

*/









/*

Este es otro spinner

*/
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: rgb(216, 173, 108);
  animation: lds-heart 2.1s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  animation: lds-heartTop 2.1s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
  0% {
    transform: scale(1.70);
    background: rgb(174, 211, 216);
    /* transform: scale(0.95); */
  }
  5% {
    transform: scale(2.3);
    background: rgb(141, 208, 216);  
    /* transform: scale(1.1); */
  }
  39% {
    transform: scale(1.40);
    background: rgb(174, 211, 216);
    /* transform: scale(0.85); */
  }
  45% {
    transform: scale(2.1);
    background: rgb(255, 237, 180);
    /* transform: scale(1); */
  }
  60% {
    transform: scale(1.8);
    background: rgb(255, 226, 152);
    /* transform: scale(0.95); */
  }
  100% {
    transform: scale(1.5);
    background: rgb(174, 211, 216);
    /* transform: scale(0.9); */
  }
  


}


@keyframes lds-heartTop {
  0% {
    background: rgb(174, 211, 216);
    /* transform: scale(0.95); */
  }
  5% {
    background: rgb(141, 208, 216);  
    /* transform: scale(1.1); */
  }
  39% {
    background: rgb(174, 211, 216);  
    /* transform: scale(0.85); */
  }
  45% {
    background: rgb(255, 237, 180);
    /* transform: scale(1); */
  }
  60% {
    background: rgb(255, 226, 152);
    /* transform: scale(0.95); */
  }
  100% {
    background: rgb(174, 211, 216);
    /* transform: scale(0.9); */
  }
  


}




.overlayAnimal{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  /* background-color: rgba(117, 117, 117, 0.8); */
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  
}





/*

FIN spinner

distinto al q se muestra en toda la pag, este solo se muestra aca, 
se podira cambiar al stylecss para q sea general

*/

/* 
Probando a ver si puedo ocultar el overlay en navigation
*/


.overlay{
  display:none;
}
