#imagen-animal-perfil{
  height: 100px;
  width: 100px;
}


#contenedor-animal-perfil{
  margin-top: 50px;
  text-align: center;
}

#nombre-animal-perfil{
  font: bolder;
  font-size: 26px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



#myTab{

 border-bottom: 2px solid black;


}

#data{
  list-style:none;
  font: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
}

#Dador-tab{
  font-size:12px;
  font-weight:bold;
  color:black;
  background:rgb(54, 153, 67);
  border:0px;
  width:20%;

}

#Interes-tab{
  font-size:14px;
  font-weight:bold;
  color:white;
  background:rgb(165, 119, 13);
  border:0px;
}

.botonDador{

}

.botonInteres{

}


.botonEstado{
  background-color: #74cf77; /* Green */
  border: none;
  color: rgb(42, 71, 28);
  padding: 0.3px 44px;
  margin-left: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}



.botonDatosMedicos {
  background-color: #67b4d8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  float: right;
}


