<div class="overlayAnimal" *ngIf="cargoPagina==false; else elseBlock">
    <div class="rot1">
        <div class="paw">
            <div class="inner"></div>
            <div class="bottom"></div>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="rot2">
        <div class="paw">
            <div class="inner"></div>
            <div class="bottom"></div>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="rot3">
        <div class="paw">
            <div class="inner"></div>
            <div class="bottom"></div>
        </div>
    </div>


    <!-- <div class="lds-heart"><div></div></div> -->
</div>
<ng-template #elseBlock>

    <!--
    la idea es que se vea el contenido solo cuando termine de cargar todo
  -->


    <!-- COMIENZA EL GRID-->
    <div class="grid-container">

        <!-- GRID HEADER-->
        <div class="grid-item grid-header">
            <div class="animal-imagen">
                <h1 class="animal-nombre">{{Animal.nombre}}</h1>
                <div class="imagenC">
                    <app-upload-list [sujetoID]='AnimalID.id' [Pertenece]='ubi'> </app-upload-list>
                    <ng-container *ngIf="Animal.idDador ===  UsuarioID.user">
                        <label  type="button" class="subir" data-bs-toggle="modal" data-bs-target="#exampleModalFoto">
							<i class="fas fa-camera" id="subir-foto" (click)="chekearAni()" *ngIf="estadoDelAnimal.estado === 'Disponible'"></i>
            </label>
			<!-- Modal -->
            <div class="modal fade" id="exampleModalFoto" tabindex="-1" aria-labelledby="exampleModalLabelFoto" aria-hidden="true" *ngIf=" estadoDelAnimal.estado === 'Disponible'">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabelFoto">Actualizar foto de animal</h3>
                            <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close" style="font-size: 40px;">
                                <i class="fas fa-times-circle"></i></button>
                        </div>
                        <div class="modal-body">
                            <input id="file-upload" class="subir-foto-usuario" type="file" (change)="selectFile($event)"  />
							<app-upload-list [sujetoID]='AnimalID.id' [Pertenece]='ubi'> </app-upload-list>
                        </div>
                        <div class="footer-actualizar-foto">
                            <button type="button" class="btn btn-outline-danger cerrar-modal" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-outline-success confirmar-modal" (click)="actualizarFoto()">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <!-- GRID SUBHEADER-->
        <div class="grid-item grid-subheader">

            <div class="animal-subheader">
                <ul class="nav nav-tabs nav-fill" role="tablist">

                    <li class="nav-item activecol-lg-4" role="presentation" *ngIf="Animal.idDador!= UsuarioID.user; else dador">
                        <button class="nav-link" type="button" role="tab" [ngClass]="interes ? 'interesMostrado' : 'interesMostrar' " (click)="mostrarInteres()" *ngIf=" estadoDelAnimal.estado === 'Disponible'">
						<p class="interes-mostrado-text" *ngIf="interes==true"><i class="fas fa-check"></i> Interes Mostrado</p>
						<p class="mostrar-interes-text" *ngIf="interes==false"> Mostrar Interes </p>

						</button>
                    </li>


                    <ng-template #dador>
                        <li class="nav-item activecol-lg-4" role="presentation">
                            <div class="dropdown">
                                <div class="nav-link" role="tab" class="btn btn - btnInteresados" (click)="isOpenInteresados = !isOpenInteresados">
                                    <span> Interesados </span><i [ngClass]="{'gg-chevron-down': isOpenInteresados} "></i>
                                </div>
                                <div [@clickContent]="isOpenInteresados ? 'show' : 'noShow'" class="interesados-dropdown-content">
                                    <div class="interesados-item">
                                        <div *ngIf="interesados.length>0; else vacio">
                                            <div class="interesado-data" *ngFor=" let interesado of interesados">
                                                <!--
                        La idea seria poner la foto de perfil (Redirecciona al perfil del usuario),
                        el nombre y apellido de los interesados (Abre model q pregunta si quiere iniciar chat)
                        -->
                                                <a class="imagen-interesado" (click)="irAInteresado(interesado.id)">
                                                    <app-upload-list [sujetoID]='interesado.id' [Pertenece]='interesadosA'> </app-upload-list>
                                                </a>
                                                <a (click)="comenzarChat(interesado.id, interesado.nombre, interesado.apellido, interesado.nro_celular)">{{interesado.nombre}} {{interesado.apellido}}</a>
                                                
                                            </div>
                                        </div>


                                        <ng-template #vacio>
                                            <div style="text-align: center;">
                                                <br>No hay interesados
                                            </div>
                                        </ng-template>

                                    </div>
                                </div>
                            </div>

                        </li>
                    </ng-template>

                    <li class="nav-item" role="presentation">

                        <button id="boton-dador" role="tab" class="nav-link col-lg-4 float-right" type="button" (click)="irADador()">

              <div class="patita-dador">
                <div class="paw">
                  <div class="inner"></div>
                  <div class="bottom"></div>
                </div>
              </div>

              <p class="dador-text">Dador</p>

            </button>
                    </li>
                </ul>
            </div>

        </div>

        <!-- GRID ANIMALMAIN-->
        <div class="grid-item grid-animalMain">
            <div class="animal-main">
                <div class="grid-main-item animal-datos">
                    <div class="data-item data-1">
                        <span class="span-1" data-title="Nombre:">Nombre:</span> {{Animal.nombre}}
                    </div>

                    <div class="data-item data-2">
                        <span class="span-1" data-title="Tipo:">Tipo:</span> {{Animal.tipo}}
                    </div>
                    <div class="data-item data-1">
                        <span class="span-1" data-title="Sexo:">Sexo:</span> {{Animal.sexo}}
                    </div>
                    <div class="data-item data-2">
                        <span class="span-1" data-title="Nacimiento:">Nacimiento:</span> {{Animal.fNac | date: 'dd/MM/yyyy'}}
                    </div>
                    <div class="data-item data-1">
                        <span class="span-1" data-title="Tamaño:">Tamaño:</span> {{Animal.tamano}}
                    </div>
                    <div class="data-item data-2">
                        <span class="span-1" data-title="Peso:">Peso:</span> {{Animal.peso}} KG
                    </div>

                    <div class="data-estado">

                        <b>Estado de adopcion: &nbsp;&nbsp; </b>
                        <a [ngClass]="{'botonEstado' : estadoDelAnimal.estado === 'Disponible' , 'botonEstadoPendiente': estadoDelAnimal.estado === 'Pendiente', 'botonEstadoAdoptado': estadoDelAnimal.estado === 'Adoptado'}" (click)="abrirDisponibleYPendiente()">{{estadoDelAnimal.estado}}</a>
                        <div *ngIf=" estadoDelAnimal.estado === 'Adoptado'">
                            <div *ngFor="let fecha of fechaAdoptado">
                                <div *ngIf="fecha.id_animal === Animal.id">
                                    <span class="fecha-adopcion">{{Animal.nombre}} fue adoptado en el dia: {{fecha.fecha_fin | date:'dd/MM/yyyy'}}</span>
                                </div>
                            </div>
                        </div>

                      </div>
                    </div>
			<ng-container>
			<div class="grid-main-item datos-medicos">
				<div class="btn-group" role="group" >
				<button type="button" class="btn btn - botonDatosMedicos" (click)="datosMedicos()"  *ngIf=" estadoDelAnimal.estado === 'Disponible'"> <b> Datos Medicos </b></button>
				</div>
				<button *ngIf="Animal.idDador == UsuarioID.user && estadoDelAnimal.estado === 'Disponible'" type="button" 
				class="btn btn-light botonDatosMedicos" (click)="editarDatos()"> 
					<b>Editar datos <i class="fas fa-pencil-alt"></i> </b> </button>
			</div>
			</ng-container>

        
          
		 
		 
		 
		  <!-- Empieza Modal de Modificar -->



			<div class="overlay-gris" *ngIf="modalEditarDatosAierto==true">

				<div class="modal-editar-datos">

					<div class="grid-editar-datos-head">
						<button type="button" class="btn btn-cerrarModalX" (click)="cerrarModalEditarDatos()">&#10006;</button>
						<p>Modifica los datos de {{Animal.nombre}}</p>
					</div>

					<div class="grid-editar-datos-main">
			

						<div *ngFor="let dato of datosLista">                 
							
							<div *ngIf="dato=='nombre' || dato=='peso'"  class="editar-datos-inputText">
								<h3>{{dato}}</h3>
								<input type="text" name="{{dato}}" [(ngModel)]="datosNuevos[dato]"
								placeholder="Ingrese {{dato}}" class="form-control" 
								required value="{{Animal[dato]}}">
							</div>

							<div *ngIf="dato=='sexo' || dato=='tipo' || dato=='tamano'" class="editar-datos-inputSelect">
											
								<h3>{{dato}}</h3>	
								

								<div *ngIf="dato=='sexo'">
									<select name="{{dato}}" [(ngModel)]="datosNuevos[dato]" class="form-control">
										<option [value]="item" *ngFor="let item of sexoArray">{{item}}</option>
									</select>	
								</div>

								<div *ngIf="dato=='tipo'">
									<select name="{{dato}}" [(ngModel)]="datosNuevos[dato]" class="form-control">
										<option [value]="item" *ngFor="let item of tipoArray">{{item}}</option>
									</select>	
								</div>

								<div *ngIf="dato=='tamano'">
									<select name="{{dato}}" [(ngModel)]="datosNuevos[dato]" class="form-control">
										<option [value]="item" *ngFor="let item of tamanoArray">{{item}}</option>
									</select>	
								</div>

							</div>
	
							
							
							<div *ngIf="dato=='fNac'" class="editar-datos-inputDate">
								
								<h3>Fecha de nacimiento</h3>
								<input type="date" name="fNac" class="form-control" required 
								[(ngModel)]="datosNuevos.fNac" [value]="Animal.fNac">
								
							</div>
							


						</div>


					</div>

					<div *ngIf="this.UsuarioID.user==this.Animal.idDador" class="grid-editar-datos-foot">
						<a class="btn-confirmar" (click)="modificarDatosAnimal()">
							Confirmar
						</a>
						<a class="btn-cancelar" (click)="cerrarModalEditarDatos()">
							Cancelar
						</a>
					</div>

				</div>

			</div>



		  <!-- 
			<button *ngIf="Animal.idDador == UsuarioID.user" type="button" class="btn btn-light botonDatosMedicos" data-bs-toggle="modal"
            data-bs-target="#exampleModal2"> <b>Editar datos <i class="fas fa-pencil-alt"></i> </b> </button>



          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h2 id="exampleModalLabel2">Modifica los datos de {{Animal.nombre}}</h2>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-light ">
                  <i class="fas fa-times"></i></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <div class="card-body">
                                        <form>
                                            <div class="mb-3">
                                                <label> <b> Nombre</b> </label>
                                                <input type="text" name="nombre" [(ngModel)]="datosNuevos.nombre" placeholder="Ingrese el nombre" class="form-control" autofocus required value="{{Animal.nombre}}">
                                            </div>
                                            <div class="mb-3">
                                                <div class="content-select">
                                                    <label> <b> Tipo</b> </label>
                                                    <select name="tipo" class="form-control">
														<ng-container *ngIf="Animal.tipo === 'perro'; else tipoTemplate">
														<option [(ngModel)]="datosNuevos.tipo" value="perro" selected>Perro</option>
														<option [(ngModel)]="datosNuevos.tipo" value="gato">Gato</option>
														</ng-container>
														<ng-template #tipoTemplate>
														<option [(ngModel)]="datosNuevos.tipo" value="perro">Perro</option>
														<option [(ngModel)]="datosNuevos.tipo" value="gato" selected>Gato</option>
														</ng-template>
													</select>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <div class="content-select">
                                                    <label> <b> Sexo</b> </label>
                                                    <select name="sexo" class="form-control">
														<ng-container *ngIf="Animal.sexo === 'hembra'; else sexoTemplate">
														<option [(ngModel)]="datosNuevos.sexo" value="macho">Macho</option>
														<option [(ngModel)]="datosNuevos.sexo" value="hembra" selected>Hembra</option>
														</ng-container>
														<ng-template #sexoTemplate>
														<option [(ngModel)]="datosNuevos.sexo" value="macho" selected>Macho</option>
														<option [(ngModel)]="datosNuevos.sexo" value="hembra">Hembra</option>
														</ng-template>
													</select>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label> <b> Fecha de nacimiento</b> </label>
                                                <input type="date" name="fNac" class="form-control" required [(ngModel)]="datosNuevos.fNac" value="{{Animal.fNac}}">
                                            </div>
                                            <div class="mb-3">
                                                <div class="content-select">
                                                    <label> <b> Tamaño</b> </label>
                                                    <select name="tamano" class="form-control">
														<ng-container *ngIf="Animal.tamano === 'chico'">
														<option [(ngModel)]="datosNuevos.tamano" value="chico" selected>Chico</option>
														<option [(ngModel)]="datosNuevos.tamano" value="mediano">Mediano</option>
														<option [(ngModel)]="datosNuevos.tamano" value="grande">Grande</option>
														</ng-container>
														<ng-container *ngIf="Animal.tamano === 'mediano'">
														<option [(ngModel)]="datosNuevos.tamano" value="chico">Chico</option>
														<option [(ngModel)]="datosNuevos.tamano" value="mediano" selected>Mediano</option>
														<option [(ngModel)]="datosNuevos.tamano" value="grande">Grande</option>
														</ng-container>
														<ng-container *ngIf="Animal.tamano === 'grande'">
														<option [(ngModel)]="datosNuevos.tamano" value="chico">Chico</option>
														<option [(ngModel)]="datosNuevos.tamano" value="mediano">Mediano</option>
														<option [(ngModel)]="datosNuevos.tamano" value="grande" selected>Grande</option>
														</ng-container>
													</select>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label> <b> Peso (KG)</b> </label>
                                                <input type="number" name="peso" placeholder="Ingrese el peso" class="form-control" required [(ngModel)]="datosNuevos.peso" value="{{Animal.peso}}">
                                            </div>
                                            <br>
                                            <div class="mb-3">
                                                <button type="reset" class="btn btn-danger btn-lg" style="float: left;"> 
												<b> Limpiar	campos</b> </button>
												<button class="btn btn-success btn-lg" style="float: right;" data-bs-dismiss="modal" (click)="modificarDatosAnimal(datosNuevos)">
												<b>Confirmar </b> <i class="fas fa-check-double"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				-->
                <!-- Termina Modal -->

                <!-- datosMedicos -->

                <div class="overlay-gris" *ngIf="modalDatosMedicosAbierto==true">

                    <div class="modal-datos-medicos">

                        <div class="grid-datos-medicos-head">
                            <button type="button" class="btn btn-cerrarModalX" (click)="cerrarModalDatosMedicos()">&#10006;</button>
                            <p>Datos medicos animal</p>
                        </div>

                        <div class="grid-datos-medicos-main">
                  


                          <h3>Vacunas</h3>
            
                          <div *ngFor="let vac of datosMedicosCambio | keyvalue : returnZero">                 
                             
            
                            <ng-container *ngIf="vac.key=='Castrado'; else checkboxvac">
                                
                              <div class="main-datos-medicos-castrado">
                                <h3>Castrado</h3>                  
                              
                                <input id="Si" name="{{vac.key}}" [checked]="vac.value == 1" type="radio" (change)="datoMedicoUnCambio(vac.key, 1)">                 
                                <label for="Si">Si</label>
                                <!-- ngModel con checked no funciona, trae error si pones ngModel (osea q no te marca el button)-->
                                <input id="No" name="{{vac.key}}" [checked]="vac.value == 0" type="radio" (change)="datoMedicoUnCambio(vac.key, 0)">                 
                                <label for="No">No</label>
                              </div> 
                              
                            </ng-container>
                            <ng-template #checkboxvac>
            
                              <div class="main-datos-medicos-vacunas">
                                <input type="checkbox" id="{{vac.key}}" name="{{vac.key}}" [(ngModel)]="vac.value" (change)="datoMedicoUnCambio(vac.key, vac.value)" [ngModelOptions]="{standalone: true}">   
                                <label for="{{vac.key}}">{{vac.key}}</label><br>                    
                              </div>
            
                            </ng-template>



                            </div>
                            <!-- <div class="main-datos-medicos-castrado">
              				</div> -->
                        </div>

						<div *ngIf="this.UsuarioID.user==this.Animal.idDador" class="grid-datos-medicos-foot">
							<a class="btn-confirmar" (click)="modificarVacunasAnimal()">
								Confirmar
							</a>
							<a class="btn-cancelar" (click)="cerrarModalDatosMedicos()">
								Cancelar
							</a>
                        </div>

                    </div>

                </div>




            </div>
        </div>

        <!-- GRID FOOTER-->
        <div class="grid-item grid-footer">

        </div>
    </div>





    <!-- NO ES DEL GRID ANTERIOR, ES EL CHAT  -->
    <div class="chat" *ngIf="chatAbierto==true">
        <div class="chat-item chat-header">
            <a class="interesado-seleccionado-img">
                <app-upload-list [sujetoID]='seleccionadoId' [Pertenece]='interesadosA'> </app-upload-list>
            </a>
            <a>{{seleccionadoName}} {{seleccionadoApellido}}</a>
            <button type="button" class="btn btn-cerrarChat" (click)="cerrarChat()">&#10006;</button>
        </div>
        <div class="chat-item chat-main">
            <p class="chat-interesado"> ¿Comenzar a chatear? </p>
            <div class="chat-resp" (click)="abrirWhats()">
                <img class="chat-si" src="../assets/img/whatsapp-logo-11.png" alt="imagen whatsapp">
            </div>
        </div>

        <!-- <div class="chat-item chat-aside"></div>  -->
    </div>


    <!--  ES EL MODAL DE ELECCION   *ngIf="modalEleccionAbierto==true" -->
    <div class="overlay-gris" *ngIf="modalEleccionAbierto==true && Animal.idDador==userAhora">
        <div class="modal-eleccion-adoptante">
            <div class="eleccion-item eleccion-header">
                <button type="button" class="btn btn-cerrarModalX" (click)="cerrarModalDisponibleYPendiente()"><i class="far fa-times-circle"></i></button>
                <p>Elija al adoptante final</p>
            </div>
            <div class="eleccion-item eleccion-main">
                <div class="adoptante-a-seleccionar" *ngFor=" let adoptante of interesados">
                    <div class="adoptante-data">
                        <div class="adoptante-nombre">
                            <app-upload-list [sujetoID]='adoptante.id' [Pertenece]='interesadosA'> </app-upload-list>
                        </div>{{adoptante.nombre}} {{adoptante.apellido}}
                        <div class="elejir-adoptante" (click)="abirConfirmarAdopcion(adoptante.nombre,adoptante.apellido,adoptante.id)">
                            <p>Elegir Adoptante</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal confirmar adopcion  -->

    <div class="overlay-gris" *ngIf="modalConfirmarAdopcionAbierto==true && Animal.idDador==userAhora">
        <div class="modal-confirmar-adopcion">
            <div class="confirmar-head">
                <p>¿Seguro quiere darle su animal en adopcion a {{interesadoSeleccionado.nombre}} {{interesadoSeleccionado.apellido}}?
                </p>
            </div>

            <div class="confirmar-main">
                <a class="btn-confirmar" (click)="confirmarAdopcion(interesadoSeleccionado.id)">
          Confirmar
        </a>
                <a class="btn-cancelar" (click)="cerrarModalConfirmarAdopcion()">
          Cancelar
        </a>
            </div>
        </div>
    </div>

    <!-- Modal adopcion pendiente  -->
    <div class="overlay-gris" *ngIf="modalAdopcionPendienteAbierto==true && Animal.idDador==userAhora">

        <div class="modal-adopcion-pendiente">

            <div class="pendiente-head">
                <button type="button" class="btn btn-cerrarModalX" (click)="cerrarModalDisponibleYPendiente()">&#10006;</button>
                <p>Proceso de adopcion en espera de la aceptacion del interesado seleccionado</p>
            </div>

            <div class="pendiente-main">
                <a class="btn-cancelar-proceso" (click)="cancelarProcesoAdopcion()">
          Cancelar proceso
        </a>
            </div>
        </div>
    </div>

    <!--
    Este es el template de la carga
    El contenido va arriba
  -->

</ng-template>