<div class="container">

    <h1>Informes</h1>

    <table class="table table-danger table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Animales Registrados</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{cantidadAnimalesRegistrado.an}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-danger table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Animales Adoptados</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{cantidadAnimalesAdoptado.ana}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-danger table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Animales en Adopcion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{cantidadAnimalesAdopcion.ane}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-danger table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Usuarios registrados</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{cantidadUsuariosRegistrado.us}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-danger table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Promedio de Adoptados</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{promedioAnimalesAdoptado.prom}}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <div>
            <button class="btn btn-outline-danger btn-lg" (click)="randomize()">Cargar datos</button>
            <div style="display: block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </div>
        </div>
    </div>

    <div class="grid-item grid-footer">
        <div class="copyright-footer">
            <p><b>Copyright © Adogtame </b></p>
        </div>
    </div>
</div>