<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FAE2D7;">
  <div class="container-fluid">
    <!--

    <div *ngIf="revelarBusRapida==true" class="ocultar-mobile">
      <input type="checkbox" id="abrir-cerrar" name="abrir-cerrar" value="">
      <label for="abrir-cerrar" class="btn btn-outline-dark">
        <span class="abrir"><i class="fas fa-bars"></i> <i class="fas fa-chevron-right"></i></span>
        <span class="cerrar"><i class="fas fa-chevron-left"></i><i class="fas fa-bars"></i></span>
      </label>
      <div id="sidebar" class="sidebar">
        <ul id="menu">
          <br><br>
          <li>
            <button class="btn btn - boton">Organizaciones</button>
          </li>
          <br> <br>
          <li>
            <button class="btn btn - boton" routerLink="usuarios/home">Adoptados </button>
          </li>
          <br> <br>
          <li>
            <button class="btn btn - boton" href="#">Crias</button>
          </li>
          <br> <br>
          <li>
            <button class="btn btn - boton" href="#">Adultos</button>
          </li>
          <br> <br>
          <li>
            <button class="btn btn - boton" href="#">Especiales </button>
          </li>

        </ul>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    
    -->
    <a class="navbar-brand" >
      <img src="https://media-public.canva.com/hTZRQ/MAEGr_hTZRQ/1/s.png" alt="" >
    </a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div>
      <ul>
        <ul class="navbar-nav posicion-izquierda">
			<li class="nav-item en-adopcion">
				<button class="btn btn - boton2"
				  routerLink="usuarios/buscador-avanzado">En
				  adopcion </button>
			</li>
		</ul>
		


        <ng-container *ngIf="revelar==false as user; else login">
          <ul class="navbar-nav posicion-derecha">
            <li class="nav-item" *ngIf="user">
              <button class="btn btn - boton2" routerLink="usuarios/ingresar"> Iniciar sesión</button>
            </li>

            <li class="nav-item" *ngIf="user">
              <button class="btn btn - boton2" routerLink="usuarios/registrar"> Registrarse</button>
            </li>
          </ul>
        </ng-container>
        <ng-template #login>
          <ul class="navbar-nav posicion-derecha" >
            <li class="nav-item">
              <a class="informes-a" routerLink="usuarios/informes">
                 <b> <i class="fas fa-info-circle"></i></b> </a>
            </li>
            <li class="nav-item active" id="notificaciones">
              <a class="btn btn - botonCampana" id="campanita" (click)="notificaciones()">
                <i class="fas fa-bell" id="campanita-icon"></i>
                <div class="alerta-notificaciones" *ngIf="notificacion==true">
                  <p>{{notificacionesContador.SumCount}}</p>
                </div>
                <!-- <i class="fas fa-exclamation-circle"  *ngIf="notificacion==true"></i> -->
                <!-- *ngIf="notificacion==true" -->
              </a>
              <div class="notificaciones-container"
                [@clickNoti]="isOpenNoti ? 'showNoti' : 'noShowNoti' ">

                <app-spinner></app-spinner>

                <div *ngIf="notificacionesInteresados.length>0; else sinNoti">
                  <div *ngFor=" let noti of notificacionesInteresados">
                    <div
                      [ngClass]="{'notificaciones-data-interes' : noti.est==0, 'notificaciones-data-pendiente': noti.est==1, 'notificaciones-data-adoptado': noti.est==2}">
                      <div class="notificaciones-grid-interesado">
                        <div class="imagenC1" (click)="irAInteresado(noti.interesado)">
                          <app-upload-list [sujetoID]='noti.interesado' [Pertenece]='ubiI'></app-upload-list>
                        </div>
                      </div>
                      <div class="notificaciones-grid-parrafo" *ngIf="noti.est==0">
                        <label class="primeroP"> <b> {{noti.nombreI}} {{noti.apellidoI}} </b>quiere adoptar a tu
                          animal</label>
                        <label class="segundoP"><b> {{noti.fecha | date: 'dd/MM/yyyy'}} </b></label>
                      </div>
                      <div class="notificaciones-grid-parrafo" *ngIf="noti.est==1">
                        <label class="primeroP"><b>{{noti.nombreI}} {{noti.apellidoI}} </b> acepto tu pedido de
                          adopcion</label>
                        <label class="segundoP"><b> {{noti.fecha | date: 'dd/MM/yyyy'}}</b> </label>
                      </div>
                      <div class="notificaciones-grid-parrafo" *ngIf="noti.est==2">
                        <label class="primeroP"><b>{{noti.nombreI}} {{noti.apellidoI}} </b> confirmo la adopcion</label>
                        <label class="segundoP"><b>{{noti.fecha | date: 'dd/MM/yyyy'}} </b> </label>
                      </div>
                      <div class="notificaciones-grid-animal">
                        <div class="imagenC1" (click)="irAAnimal(noti.animal)">
                          <app-upload-list [sujetoID]='noti.animal' [Pertenece]='ubiA'></app-upload-list>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-template #sinNoti>
                  <p> <b>No tienes notificaciones </b> </p>
                </ng-template>

              </div>
            </li>
            <!-- Cuenta perfil -->
            <div class="btn-group dropdown">
              <div class="usuario-perfil" [ngClass]="{'activo': isOpenPerfil, 'noActivo': !isOpenPerfil}" id="perfilDropdownBoton" >

                <div class="imagenC1" *ngIf="cargoID==true">
                  <app-upload-list [sujetoID]='Usuario.id' [Pertenece]='ubiUsuarioPerfil1'></app-upload-list>
                </div>
              </div>
              <ul class="dropdown-menu pull-left" id="perfilDropdownContenido" [@clickPerfil]="isOpenPerfil ? 'showPerfil' : 'noShowPerfil' ">
                <li>

                  <div class="ir-a-perfil" (click)="irAPerfil()">
                    <div class="imagenC2" *ngIf="cargoID==true">

                      <app-upload-list [sujetoID]='Usuario.id ' [Pertenece]='ubiUsuarioPerfil2'></app-upload-list>

                    </div>
                    <b>{{Usuario.nombre}} </b>
                  </div>

                </li>

                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" id="logout" (click)="logout()"> <i class="fas fa-sign-out-alt">Cerrar
                      sesion</i></a></li>
              </ul>
            <!--  Animales del dueño  -->
              <a class="animales-usuario" [ngClass]="{'activo': isOpenAnimals, 'noActivo': !isOpenAnimals}" id="animalsDropdownBoton"  (click)="listarAnimalesDelUsuario()">

                <div class="imagenC1" *ngIf="cargoID==true">
                  <i class="fas fa-paw"> </i>
                </div>
              </a>
              <ul class="dropdown-menu" id="animalsDropdownContenido" [@clickAnimals]="isOpenAnimals ? 'showAnimals' : 'noShowAnimals' ">

                <li>

                  <div *ngFor="let animal of animales">
                    <div class="ir-a-perfil" (click)="irAAnimal(animal.id)">


                        <div class="imagenC2" *ngIf="cargoID==true">

                          <app-upload-list [sujetoID]='animal.id ' [Pertenece]='ubi2AnimalUsuario'></app-upload-list>

                        </div>
                        <b>{{animal.nombre}}</b>



                    </div>

                  </div>
                </li>

              </ul>
            </div>





          </ul>

        </ng-template>

      </ul>
    </div>
  </div>
</nav>
